html[cis='455'] {
    background-color: #eeeeee;
}

html, body {
	margin:0px; padding:0px;
	height:100%;
}
 
body {
	font-family:Georgia, Times, serifs;
}
 
[page='search'] #floater {
	position:relative; float:left;
	height:50%;	margin-bottom:-150px;
	width:1px;
}
 
#wrapper {
	position:relative; clear:left;
	width:80%; max-width:800px; min-width:400px;
	margin:0px auto; padding: 20px;
	background:#fff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.container {
    
}

header {
    margin-bottom: 15px;
}

.logo {
    width: 435px;
	padding: 155px 0px 0px 0px;
	height: 0px;
	background: url(logo50.png) no-repeat top left;
	overflow: hidden;
    margin: 0px auto;
    text-align:center;
}

[page='results'] .logo {
    width: 218px;
	padding: 78px 0px 0px 0px;
	background: url(logo25.png) no-repeat top left;
    margin: 0px;
}

[page='search'] #ipinfo {
    display: none;
}

[page='results'] #ipinfo {
    color: white;
}

.searchbar {
    text-align:center;
    height:35px;
}

.searchbar [type='search'] {
    width: 70%;
    height: 35px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

[page='results'] header {
    float: left;
    display:inline-block;
}

[page='results'] .searchbar {
    float: right;
    width: 70%;
    display:inline-block;
	margin-top: 18px;
	margin-right: -26px;
}

.searchbar [type='submit'] {
    width: 20%;
    border: none;
    background: #3e429c;
    padding: 7px 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    text-align:center;
}

.searchbar [type='submit']:hover {
    background: #120a4d;
}

#resultList  > ol {
    list-style-type: none;
	margin-left: -40px;
}

.result {
    text-align:justify;
}

.result > .title {
    font-size: 1.2em;
    margin-bottom: -18px;
}

a:link {
    text-decoration:none;
}

.result > .content {
    
}

.score {
	display: none;
}

.result > .content > .url {
    color:LightSlateGray;
    font-size: 1em;
    margin-bottom: 0px;
}

.result > .content > .desc {
    text-align:justify;
}

.result > .content > .sublinks {
    margin-left: 40px;
}

.sublinks td {
    padding: 10px 0px 10px 10px;
    padding-right: 60px;
}
 
footer {
	position:relative;
	bottom:0px; left:0px;
    margin: 5px;
}

[page='search'] footer {
    position:absolute;
}